expose:
  type: ingress
  tls:
    enabled: false
  ingress:
    hosts:
      core: {{ harbor_host }}
    className: nginx
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "true"

externalURL: "{{ harbor_external_url }}"
# Senha do admin vinda do Bitwarden (Secret harbor-admin, criado pelo ESO)
existingSecretAdminPassword: harbor-admin
existingSecretAdminPasswordKey: HARBOR_ADMIN_PASSWORD
