apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: github-org-autodiscover
  namespace: {{ argocd_namespace }}
spec:
  goTemplate: true
  generators:
    - scmProvider:
        cloneProtocol: https
        github:
          organization: {{ github_org }}
          tokenRef:
            secretName: github-token-secret
            key: token
        filters:
          - labelMatch: {{ github_topic_filter }}
  template:
    metadata:
      name: '{% raw %}{{- .repository -}}{% endraw %}'
      annotations:
        # Image Updater: imagem esperada em ghcr.io/<org>/<repo> (GHCR exige minúsculas), maior tag semver
        argocd-image-updater.argoproj.io/image-list: 'app=ghcr.io/{{ github_org | lower }}/{% raw %}{{ .repository | lower }}{% endraw %}'
        argocd-image-updater.argoproj.io/app.update-strategy: semver
        argocd-image-updater.argoproj.io/write-back-method: git:secret:{{ argocd_namespace }}/git-creds
        argocd-image-updater.argoproj.io/git-branch: '{% raw %}{{ .branch }}{% endraw %}'
    spec:
      project: default
      source:
        repoURL: '{% raw %}{{- .url -}}{% endraw %}'
        targetRevision: '{% raw %}{{- .branch -}}{% endraw %}'
        path: .devops/k8s
      destination:
        server: 'https://kubernetes.default.svc'
        namespace: '{% raw %}{{- .repository -}}{% endraw %}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
