apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: bitwarden
spec:
  provider:
    bitwardensecretsmanager:
      apiURL: https://api.bitwarden.com
      identityURL: https://identity.bitwarden.com
      bitwardenServerSDKURL: https://bitwarden-sdk-server.{{ external_secrets_namespace }}.svc.cluster.local:9998
      caBundle: {{ bitwarden_ca_bundle }}
      organizationID: {{ bitwarden_organization_id }}
      projectID: {{ bitwarden_project_id }}
      auth:
        secretRef:
          credentials:
            name: bitwarden-access-token
            namespace: {{ external_secrets_namespace }}
            key: token
